.about {
    background-color: rgba(224, 224, 224, 0.37);
    p:first-child {
        margin-top: 0;
    }
    blockquote {
        background: #fafafa;
        border-color: $primary-dark;
        padding: 6px;
        padding-left: 1em;
        font-style: italic;
        text-align: left;
        font-size: 0.9em;
    }
    .vid-info {
        margin-top: 12px;
        font-weight: bold;
        color: $font-color;
    }
}