.about {
    text-align: center;
    h3 span {
        color: $default-primary-color;
    }
    h4 {
        font-size: 21px;
    }
    h5 {
        font-size: 18px;
        font-weight: bold;
    }
    h3 + h5 {
        margin-bottom: 18px;
        font-weight: 400;
    }
    blockquote {
        background: #ededed;
        border-color: $default-primary-color;
        padding: 6px;
        padding-left: 1.5rem;
        font-style: italic;
        text-align: left;
        margin-top: 24px;
    }
    .about-feature__box {
        position: relative;
        margin-bottom: 12px;
        &:first-child {
            margin-top: 1.46rem;
        }
        img {
            width: 60px;
            margin: 0 auto;
        }
        @media only screen and (min-width: 601px) {
            padding-left: 72px;
            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    @media only screen and (min-width: 601px) {
        text-align: left;
    }
}