.our-acheivers {
    .tab-container {
        ul.tabs {
            text-align: right;
            a {
                color:  $font-color;
                &.active {
                    color: $accent-red;
                }
            }
            .indicator {
                background-color: $accent-green;
            }
        }
        
    }
    .carousel.carousel-slider {
        height :330px!important;
    }
    .achiever__box {
        box-shadow: none;
        text-align: center;
        span {
            display: block;
            &.name {
                font-weight: bold;
            }
        }
    }
    ul.indicators .indicator-item {
        background-color: $primary;
        &.active {
            background-color: $accent-red;
        }
    }
}