.our-acheivers {
    background-color: #fff;
    .title-row {
        display: flex;
        align-items: center;
        ul.tabs {
            text-align: center;
            a {
                font-weight: bold;
                color: $font-color;
                &:hover {
                    color: $primary-dark;
                }
                &.active {
                    color: $accent-red;
                }
            }
            .indicator {
                background-color: $accent-green;
            }
        }
    }
    .carousel.carousel-slider {
        height :370px!important;
    }
    .achiever__box {
        box-shadow: none;
        text-align: center;
        span {
            display: block;
            &.name {
                font-weight: bold;
            }
        }
    }
    ul.indicators .indicator-item {
        background-color: $primary;
        &.active {
            background-color: $accent-red;
        }
    }
}