.courses-type {
    text-align: center;
    background-color: whitesmoke;
    color: #000;
    .card {
        // background-color: #fff;
        // color: #000;
        .card-content {
            .card-title {
                text-align: center;
                // border-bottom: 1px solid $border-light-color;
                h4 {
                    margin: 0;
                }
                svg {
                    // display: block;
                    // margin: 15px auto;
                }
                span {
                    // font-weight: 400;
                    // font-size: 18px;
                    // margin-bottom: 12px;
                }
            }
            ul li {
                // text-align: center;
                // margin: 12px auto;
                a {
                    // color: $primary-font-color;
                    &:hover {
                        // color: $default-primary-color;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 601px) {
        text-align: left;
    }
}