.courses-type {
    background-color: #fff;
    color: #000;
    .card {
        // background-color: #fff;
        // color: #000;
        .card-content {
            .card-title {
                text-align: center; // border-bottom: 1px solid $border-light-color;
                h4 {
                    // margin: 0;
                }
                svg {
                    // display: block;
                    // margin: 15px auto;
                }
                span {
                    // font-weight: 400;
                    // font-size: 18px;
                    // margin-bottom: 12px;
                }
            }
            ul li {
                // text-align: center;
                // margin: 12px auto;
                a {
                    // color: $primary-font-color;
                    &:hover {
                        // color: $default-primary-color;
                    }
                }
            }
        }
    }
    .course-card {
        background-color: #2196f3;
        .card-content {
            padding: 0;
            .card-title {
                height: 270px;
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                padding: 2px 0 0;
                .title {
                    color: rgba(255, 255, 255, 0.87);
                    font-weight: bold;
                }
                .image {
                    display: block;
                    margin: 36px auto;
                }
                .sub-info {
                    .tabs {
                        height: 30px;
                        background-color: #2196f3;
                        li.tab {
                            height: 30px;
                            line-height: 30px;
                            a {
                                font-size: 18px;
                                font-family: 'Roboto Condensed';
                                color: #fff;
                                &.active {
                                    color: #0d47a1;
                                }
                            }
                        }
                    }
                    .indicator {
                        display: none;
                    }
                }
            }
            .course-card-content {
                // padding: 6px 18px;
                text-align: center;
                background-color: #f5f5f5;
                font-size: 13px;
                color: #616161;
                display: none;
                min-height: 270px;
                position: absolute;
                top: 0;
                left: 0; // @media screen and (min-width: 601px) {
                //     text-align: left;
                // }
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
                i {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    color: #fff;
                    font-size: 16px;
                    cursor: pointer;
                }
                h6 {
                    // font-size: 16px;
                    margin-top: 0;
                    height: 50px;
                    line-height: 50px;
                    background-color: #0d47a1;
                    color: #fff;
                }
                span {
                    display: block;
                    text-align: center;
                    padding: 0 12px;
                    font-weight: bold;
                    font-size: 14px;
                }
                ul {
                    padding-left: 20px;
                    text-align: left;
                    li {
                        list-style-type: circle;
                    }
                }
                .bottom-line {
                    padding: 0 12px;
                    overflow: auto;
                }
            }
        }
    }
}