.main-nav {
    @media screen and (min-width: 601px) {
        position: absolute;
        top: 31px;
        left: 0;
    }
    width: 100%;
    z-index: 10;
    background-color: transparent;
    box-shadow: none;
    height: 90px;
    line-height: 90px;
    .brand-logo {
        height: 100%;
        @media only screen and (min-width: 601px) {
            padding-left: 6%;
        }
        img {
            height: 100%;
            width: auto;
            max-width: 240px;
            padding: 12px 0;
        }
    }
    ul.desktop-menu {
        @media only screen and (min-width: 601px) {
            padding-right: 6%;
        }
        >li {
            padding: 0 15px;
            >a:not(.btn) {
                display: inline;
                padding: 10px 0;
            }
        }
        a {
            color: #fff;
            i {
                margin-left: 0;
                margin-right: 0;
                line-height: 90px;
            }
            &:hover {
                background-color: transparent;
                color: $secondary;
                i {
                    color: $secondary;
                }
            }
            &.btn {
                background-color: $primary-dark;
                color: #fff;
                i {
                    line-height: 36px;
                    font-size: 18px;
                    margin-right: 6px;
                    color: #fff;
                }
                &:hover {
                    background-color: $primary-dark;
                    color: $secondary;
                    i {
                        color: $secondary;
                    }
                }
            }
        }
    }
    .dropdown-content {
        color: $font-color;
        overflow: visible!important;
        overflow-x: hidden;
        border-top: 2px solid $accent-green;
        li {
            >a {
                font-size: 14px;
                color: $font-color;
                &:hover {
                    color: $accent-red;
                }
            }
        }
    }
}