.slider {
    .slider-nav-icons {
        @media screen and (min-width: 601px) {
            position: absolute;
            color: #fff;
            top: 45%;
            font-size: 48px;
            z-index: 998;
            cursor: pointer;
            background-color: rgba(158, 158, 158, 0.66);
            border-radius: 50%;
            border: 1px solid;
            &.left-icon {
                left: 4%;
            }
            &.right-icon {
                right: 4%;
            }
        }
    }
}

main.EduSquare {
    >section {
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        @media screen and (min-width: 601px) {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: left;
        }
        @media screen and (min-width: 993px) {
            padding-top: 42px;
            padding-bottom: 42px;
        }
        .title-row {
            display: flex;
            align-items: center;
            .title {
                font-weight: bold;
                img {
                    height: 40px;
                }
            }
            .sub-title {
                color: $light-color;
            }
            .finish-line {
                width: 36px;
                height: 3px;
                margin: 0 auto;
                background-color: $primary-dark;
                margin-bottom: 12px;
            }
        }
        .content-row {
            margin-bottom: 0;
            .clean-card {
                .card-content {
                    padding: 12px;
                    position: relative;
                    img.icon {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                        height: 50px;
                    }
                    h5.card-title {
                        font-weight: bold;
                        height: 50px;
                        line-height: 50px;
                        margin: 0;
                    }
                }
            }
        }
        ul.tabs {
            li.tab {
                a {
                    font-size: 14px;
                    font-weight: bold;
                    color: $accent-red;
                    &:hover {
                        color: $font-color;
                    }
                    &.active {
                        color: $primary-dark;
                    }
                }
            }
            .indicator {
                background-color: $accent-green;
            }
        }
        .carousel ul.indicators .indicator-item {
            background-color: $primary;
            &.active {
                background-color: $accent-red;
            }
        }
    }
}

main.page {
    .head_content {
        background-image: url(../assets/bg-1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 50%;
        position: relative;
        h2 {
            margin-top: 170px;
            margin-bottom: 30px;
            color: #000;
            z-index: 99;
        }
    }
    .body_content {
        background-color: #fff;
    }
}