.news__box {
    img {
        max-width: 100%;
        height: auto;
    }
}

.rest-content {
    background-color: $dark-primary-color;
}

.rest-content__box {
    height: 400px;
    h3 {
        margin-top: 0;
    }
    ul.events {
        li {
            box-shadow: 0px 0px 4px 1px #d9d9d9;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            span.date {
                width: 60px;
                flex: 0 0 60px;
                font-size: 12px;
                background-color: $default-primary-color;
                color: #fff;
                text-align: center;
                span {
                    display: block;
                }
            }
            span.desc {
                flex: 1;
                padding-left: 12px;
            }
        }
    }
    ul.updates {
        li {
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 4px 1px #d9d9d9;
            margin-bottom: 15px;
            img {
                width: 80px;
                height: auto;
            }
            .desc {
                flex: 1;
                padding-left: 12px;
                h6 {
                    font-weight: bold;
                }
            }
        }
    }
    .news-carousel {
        height: 390px!important;
        .indicators {
            display: none;
        }
        .card {
            box-shadow: none;
        }
        .carousel-item {
            height: auto;
            min-height: auto!important;
        }
        .card-title {
            height: 200px;
            overflow: hidden;
        }
        .card-content {
            padding: 0;
        }
        span {
            display: block;
        }
        span.date {
            font-size: 12px;
            color: $dark-primary-color;
            font-weight: bold;
        }
    }
}