$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Lato', sans-serif;

$primary-font-color: #011638;
$dark-primary-color: #0D47A1;
$default-primary-color: #2196F3;
$accent-color: #ff1744;
$border-color: #00e676;
$border-light-color: #bdbdbd;
$primary-button-font-color: #E3E36A;

$font-color: #011627;
$primary-dark: #0D47A1;
$primary: #2196F3;
$secondary: #FFF176;
$accent-red: #FF1744;
$accent-green: #00E676;

