@import 'variables';

::-moz-selection { /* Code for Firefox */
    color: $dark-primary-color;
    background: $primary-button-font-color;
}

::selection {
    color: $dark-primary-color; 
    background: $primary-button-font-color;
}

html,
body {
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden!important;
    font-size: 14px;
    line-height: 24px;
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

.btn {
    background: $accent-color;
    color: #fff;
}

.btn:hover {
    background: $accent-color;
    color: $primary-button-font-color;
}

@import 'sub-nav';
@import 'main-nav';

main > section {
    padding-top: 18px;
    padding-bottom: 18px;
}

main section .row.margin-b0 {
    margin-bottom: 0;
}

main section h3 {
    font-size: 27px;
    font-weight: 700;
}

@import 'quick-about';
@import 'about';
@import 'courses-list';