@import 'variables';
::-moz-selection {
    /* Code for Firefox */
    color: $dark-primary-color;
    background: $primary-button-font-color;
}

::selection {
    color: $dark-primary-color;
    background: $primary-button-font-color;
}

html,
body {
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden!important;
    font-size: 14px;
    line-height: 24px;
    font-family: $body-font;
    background: url('../assets/geometry2.png');
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

.btn {
    background: $accent-color;
    color: #fff;
}
.btn-2 {
    background: $primary;
}

.btn:hover {
    background: $accent-color;
    color: $primary-button-font-color;
}

a {
    color: $font-color;
}

a:hover {
    color: $primary-dark;
}

span.edusquare {
    color: $primary;
}

span.strong {
    font-weight: bold;
}

.slider .slides li .caption {
    padding-top: 75px;
}


@import 'common';
@import 'sub-nav';
@import 'main-nav';
@import 'about';
@import 'courses-list';
@import 'quick-about-2';
@import 'acheivers';
@import 'rest';
@import 'results';
@import 'footer';
@import 'testimonials';