/**
This section is divided in :-
1. Variables
. Past Acheivers
. Peoples Testimonial
*/

// Variables USED
$heading-font: 'Roboto Condensed',
sans-serif;
$body-font: 'Lato',
sans-serif;
$font-color: #011627;
$light-color: #616161;
$primary-dark: #0D47A1;
$primary: #2196F3;
$secondary: #FFF176;
$accent-red: #FF1744;
$accent-green: #00E676;
body {
    background: url('../assets/geometry2.png');
    background-attachment: fixed;
    font-family: $body-font;
    overflow-x: hidden!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

::-moz-selection {
    /* Code for Firefox */
    color: $font-color;
    background: $secondary;
}

::selection {
    color: $font-color;
    background: $secondary;
}

a.btn {
    background: $accent-red;
    color: #fff;
    &:hover {
        background: $accent-red;
        color: $font-color;
    }
}

a {
    color: $font-color;
    &:hover {
        color: $primary-dark;
    }
}

span.edusquare {
    color: $primary;
}

.bold {
    font-weight: bold;
}

.slider .slides li .caption {
    padding-top: 75px;
}

// Import Passive CSS Configuration
@import 'passive-life';
@import 'sub-nav';
@import 'main-nav';
@import 'about';
@import 'courses-list';
@import 'quick-about-2';
@import 'acheivers';
@import 'rest';
@import 'results';
@import 'footer';
@import 'testimonials';
// Rest Content
.rest-content {
    background-color: $primary;
    .title-row {
        h3 {
            color: #fff;
        }
        .finish-line {
            background-color: #fff;
        }
    }
    .card {
        min-height: 460px;
        &.news-card {
            .carousel-slider {
                height: 380px!important;
                text-align: center;
                .indicator-item {
                    margin: 0 4px;
                }
                span.date {
                    color: $light-color;
                }
            }
        }
    }
    .news-col {
        height: 400px;
        .carousel {
            height: 400px;
        }
    }
    ul.events {
        li {
            box-shadow: 0px 0px 4px 1px #d9d9d9;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            span.date {
                width: 60px;
                flex: 0 0 60px;
                font-size: 12px;
                background-color: $primary;
                color: #fff;
                text-align: center;
                span {
                    display: block;
                }
            }
            span.desc {
                flex: 1;
                padding-left: 12px;
            }
        }
    }
    ul.updates {
        li {
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 4px 1px #d9d9d9;
            margin-bottom: 15px;
            img {
                width: 80px;
                height: auto;
            }
            .desc {
                flex: 1;
                padding-left: 12px;
                h6 {
                    font-weight: bold;
                }
            }
        }
    }
}

// Past Acheivers
.past-acheivers {
    background-color: #fff;
}

// Peoples Testimonial
.peoples-testimonials {
    background-color: rgba(224, 224, 224, 0.37);
    .peoples.carousel {
        height: 150px;
        .carousel-item {
            height: 150px;
            width: 150px;
            img {
                padding: 0 24px;
            }
        }
    }
    .testimonial {
        height: 200px;
        text-align: center;
        p {
            margin: 0 auto;
            height: 150px;
            width: 100%;
            max-width: 600px;
            font-size: 18px;
            padding: 12px;
            overflow: auto;
        }
        .info {
            height: 50px;
            color: $font-color;
            .name {
                font-weight: bold;
                display: block;
            }
            .designation {
                text-transform: uppercase;
                font-size: 12px;
                color: $light-color;
            }
        }
    }
}