/**
This section is divided in :-
1. Variables
. Past Acheivers
. Peoples Testimonial
*/
body {
  background: url("../assets/geometry2.png");
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  overflow-x: hidden !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", sans-serif; }

::-moz-selection {
  /* Code for Firefox */
  color: #011627;
  background: #FFF176; }

::selection {
  color: #011627;
  background: #FFF176; }

a.btn {
  background: #FF1744;
  color: #fff; }
  a.btn:hover {
    background: #FF1744;
    color: #011627; }

a {
  color: #011627; }
  a:hover {
    color: #0D47A1; }

span.edusquare {
  color: #2196F3; }

.bold {
  font-weight: bold; }

.slider .slides li .caption {
  padding-top: 75px; }

@media screen and (min-width: 601px) {
  .slider .slider-nav-icons {
    position: absolute;
    color: #fff;
    top: 45%;
    font-size: 48px;
    z-index: 998;
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.66);
    border-radius: 50%;
    border: 1px solid; }
    .slider .slider-nav-icons.left-icon {
      left: 4%; }
    .slider .slider-nav-icons.right-icon {
      right: 4%; } }

main.Edusquare > section {
  border-bottom: 1px solid #ccc;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center; }
  @media screen and (min-width: 601px) {
    main.Edusquare > section {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: left; } }
  @media screen and (min-width: 993px) {
    main.Edusquare > section {
      padding-top: 42px;
      padding-bottom: 42px; } }
  main.Edusquare > section .title-row {
    display: flex;
    align-items: center; }
    main.Edusquare > section .title-row .title img {
      height: 40px; }
    main.Edusquare > section .title-row .sub-title {
      color: #616161; }
    main.Edusquare > section .title-row .finish-line {
      width: 36px;
      height: 3px;
      margin: 0 auto;
      background-color: #0D47A1;
      margin-bottom: 12px; }
  main.Edusquare > section .content-row {
    margin-bottom: 0; }
    main.Edusquare > section .content-row .clean-card .card-content {
      padding: 12px;
      position: relative; }
      main.Edusquare > section .content-row .clean-card .card-content img.icon {
        position: absolute;
        top: 12px;
        right: 12px;
        height: 50px; }
      main.Edusquare > section .content-row .clean-card .card-content h5.card-title {
        height: 50px;
        line-height: 50px;
        margin: 0; }
  main.Edusquare > section ul.tabs li.tab a {
    font-size: 14px;
    font-weight: bold;
    color: #FF1744; }
    main.Edusquare > section ul.tabs li.tab a:hover {
      color: #011627; }
    main.Edusquare > section ul.tabs li.tab a.active {
      color: #0D47A1; }
  main.Edusquare > section ul.tabs .indicator {
    background-color: #00E676; }
  main.Edusquare > section .carousel ul.indicators .indicator-item {
    background-color: #2196F3; }
    main.Edusquare > section .carousel ul.indicators .indicator-item.active {
      background-color: #FF1744; }

main.page .head_content {
  background-image: url(../assets/bg-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: relative;
  height: 300px; }
  main.page .head_content h1 {
    margin: 0;
    margin-top: 120px;
    background: rgba(255, 255, 255, 0.12);
    padding: 12px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    border-radius: 12px; }
  main.page .head_content h2 {
    margin-bottom: 30px;
    z-index: 99; }

main.page .body_content {
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center; }
  @media screen and (min-width: 601px) {
    main.page .body_content {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: left; } }
  @media screen and (min-width: 993px) {
    main.page .body_content {
      padding-top: 42px;
      padding-bottom: 42px; } }
  main.page .body_content h1,
  main.page .body_content h2,
  main.page .body_content h3,
  main.page .body_content h4,
  main.page .body_content h5,
  main.page .body_content h6 {
    color: #0179a4; }

.vertical-box {
  background: #ededed;
  border-radius: 2px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 0 5px #ccc; }

@media screen and (min-width: 601px) {
  .vertical-box {
    display: flex;
    align-items: center; }
  .vertical-box .faculty__photo {
    flex: 0 0 150px; } }

.vertical-box .faculty__photo img {
  width: 100%;
  height: auto; }

.vertical-box .faculty__info {
  padding: 0 18px; }

.card h4,
.vertical-box .faculty__info h4 {
  color: #0179a4;
  text-transform: uppercase; }

.sub-nav {
  color: #fff;
  background-color: #2196F3;
  border-bottom: 1px solid #00E676;
  font-size: 12px;
  text-align: center; }
  .sub-nav .row {
    margin-bottom: 0; }
    .sub-nav .row .col {
      height: 30px;
      line-height: 30px; }
      .sub-nav .row .col:first-child {
        padding-left: 6%; }
        @media screen and (min-width: 601px) {
          .sub-nav .row .col:first-child {
            text-align: left; } }
      .sub-nav .row .col:nth-child(2) {
        padding-right: 6%; }
        @media screen and (min-width: 601px) {
          .sub-nav .row .col:nth-child(2) {
            text-align: right; } }
      .sub-nav .row .col a {
        color: #fff; }
        .sub-nav .row .col a:hover {
          color: #FFF176; }
        .sub-nav .row .col a span {
          position: relative;
          padding-left: 18px; }
          .sub-nav .row .col a span:first-child {
            margin-right: 18px; }
          .sub-nav .row .col a span i {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 16px; }
      .sub-nav .row .col .social-links {
        display: inline; }
        .sub-nav .row .col .social-links a {
          padding: 0 4px;
          float: right;
          margin-top: 4px; }
        .sub-nav .row .col .social-links svg {
          fill: #fff; }
          .sub-nav .row .col .social-links svg:hover {
            fill: #FFF176; }
      .sub-nav .row .col .online-test-btn {
        margin-left: 18px;
        height: 24px;
        line-height: 24px;
        padding: 0px 9px;
        float: right;
        margin-top: 3px;
        font-size: 12px; }
        .sub-nav .row .col .online-test-btn i {
          float: left;
          margin-right: 3px; }

.main-nav {
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.37);
  box-shadow: none;
  height: 69px;
  line-height: 69px; }
  @media screen and (min-width: 601px) {
    .main-nav {
      top: 31px; } }
  .main-nav .brand-logo {
    height: 100%; }
    @media only screen and (min-width: 601px) {
      .main-nav .brand-logo {
        padding-left: 6%; } }
    .main-nav .brand-logo img {
      height: 100%;
      width: auto;
      max-width: 240px;
      padding: 12px 0; }
  @media only screen and (min-width: 601px) {
    .main-nav ul.desktop-menu {
      padding-right: 6%; } }
  .main-nav ul.desktop-menu > li {
    padding: 0 15px; }
    .main-nav ul.desktop-menu > li > a:not(.btn) {
      padding: 0; }
    .main-nav ul.desktop-menu > li > a.btn {
      margin: 0;
      padding: 0 12px; }
  .main-nav ul.desktop-menu a {
    color: #fff; }
    .main-nav ul.desktop-menu a i {
      margin-left: 0;
      margin-right: 0;
      line-height: 69px; }
    .main-nav ul.desktop-menu a:hover {
      background-color: transparent;
      color: #FFF176; }
      .main-nav ul.desktop-menu a:hover i {
        color: #FFF176; }
    .main-nav ul.desktop-menu a.btn {
      background-color: #0D47A1;
      color: #fff; }
      .main-nav ul.desktop-menu a.btn i {
        line-height: 36px;
        font-size: 18px;
        margin-right: 6px;
        color: #fff; }
      .main-nav ul.desktop-menu a.btn:hover {
        background-color: #0D47A1;
        color: #FFF176; }
        .main-nav ul.desktop-menu a.btn:hover i {
          color: #FFF176; }
  .main-nav .dropdown-content {
    color: #011627;
    overflow: visible !important;
    overflow-x: hidden;
    border-top: 2px solid #00E676; }
    .main-nav .dropdown-content li > a {
      font-size: 14px;
      color: #011627; }
      .main-nav .dropdown-content li > a:hover {
        color: #FF1744; }

.about {
  background-color: rgba(224, 224, 224, 0.37); }
  .about p:first-child {
    margin-top: 0; }
  .about blockquote {
    background: #fafafa;
    border-color: #0D47A1;
    padding: 6px;
    padding-left: 1em;
    font-style: italic;
    text-align: left;
    font-size: 0.9em; }
  .about .vid-info {
    margin-top: 12px;
    font-weight: bold;
    color: #011627; }

.courses-type {
  background-color: #fff;
  color: #000; }
  .courses-type .card .card-content .card-title {
    text-align: center; }
  .courses-type .course-card {
    background-color: #2196f3; }
    .courses-type .course-card .card-content {
      padding: 0; }
      .courses-type .course-card .card-content .card-title {
        height: 270px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 2px 0 0; }
        .courses-type .course-card .card-content .card-title .title {
          color: rgba(255, 255, 255, 0.87);
          font-weight: bold; }
        .courses-type .course-card .card-content .card-title .image {
          display: block;
          margin: 36px auto; }
        .courses-type .course-card .card-content .card-title .sub-info .tabs {
          height: 30px;
          background-color: #2196f3; }
          .courses-type .course-card .card-content .card-title .sub-info .tabs li.tab {
            height: 30px;
            line-height: 30px; }
            .courses-type .course-card .card-content .card-title .sub-info .tabs li.tab a {
              font-size: 18px;
              font-family: 'Roboto Condensed';
              color: #fff;
              text-decoration: underline; }
              .courses-type .course-card .card-content .card-title .sub-info .tabs li.tab a.active {
                color: #fff; }
        .courses-type .course-card .card-content .card-title .sub-info .indicator {
          display: none; }
      .courses-type .course-card .card-content .course-card-content {
        text-align: center;
        background-color: #f5f5f5;
        font-size: 13px;
        color: #616161;
        display: none;
        min-height: 270px;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
        .courses-type .course-card .card-content .course-card-content i {
          position: absolute;
          top: 9px;
          right: 9px;
          color: #fff;
          font-size: 16px;
          cursor: pointer; }
        .courses-type .course-card .card-content .course-card-content h6 {
          margin-top: 0;
          height: 50px;
          line-height: 50px;
          background-color: #0d47a1;
          color: #fff; }
        .courses-type .course-card .card-content .course-card-content span {
          display: block;
          text-align: center;
          padding: 0 12px;
          font-weight: bold;
          font-size: 14px; }
        .courses-type .course-card .card-content .course-card-content ul {
          padding-left: 20px;
          text-align: left; }
          .courses-type .course-card .card-content .course-card-content ul li {
            list-style-type: circle; }
        .courses-type .course-card .card-content .course-card-content .bottom-line {
          padding: 0 12px;
          overflow: auto; }
          .courses-type .course-card .card-content .course-card-content .bottom-line .btn {
            font-size: 12px;
            margin: 9px 0; }

.quick-about-2 {
  background-color: #2196F3; }
  .quick-about-2 .row {
    margin-bottom: 0; }
  .quick-about-2 .q-b-2__box {
    padding: 12px;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-top: 3px solid #fff;
    transition: all 0.1s ease-out; }
    .quick-about-2 .q-b-2__box h5 {
      height: 50px;
      line-height: 50px;
      margin: 0; }
    .quick-about-2 .q-b-2__box:hover {
      border-top: 3px solid #0D47A1; }
      .quick-about-2 .q-b-2__box:hover h5 span {
        color: #0D47A1; }
    .quick-about-2 .q-b-2__box .info-text {
      color: #616161;
      margin-top: 6px;
      display: block; }
    .quick-about-2 .q-b-2__box a.btn {
      font-size: 12px;
      width: 100%;
      margin-top: 12px; }
    .quick-about-2 .q-b-2__box img {
      position: absolute;
      top: 12px;
      right: 12px;
      height: 48px; }

.our-results {
  background-color: #fff; }
  .our-results .title-row {
    display: flex;
    align-items: center; }
  .our-results .carousel.carousel-slider {
    height: 350px !important; }
  .our-results .achiever__box {
    box-shadow: none;
    text-align: center; }
    .our-results .achiever__box .card-image img {
      width: 150px;
      margin: 0 auto;
      max-height: 200px; }
    .our-results .achiever__box span {
      display: block;
      color: #616161; }
      .our-results .achiever__box span.name {
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold; }

.rest-content {
  background-color: #2196F3; }
  .rest-content .title-row h3 {
    color: #fff; }
  .rest-content .title-row .finish-line {
    background-color: #fff; }

.rest-content__box {
  background-color: #fff; }
  .rest-content__box .card-content {
    padding: 0; }
    .rest-content__box .card-content .card-title .title {
      height: 48px;
      line-height: 48px;
      color: #fff; }
      .rest-content__box .card-content .card-title .title.red-b {
        background-color: #e74424; }
      .rest-content__box .card-content .card-title .title.blue-b {
        background-color: #1c52a6; }
      .rest-content__box .card-content .card-title .title.green-b {
        background-color: #579165; }
    .rest-content__box .card-content .card-content {
      padding: 6px 18px;
      text-align: center; }
      @media screen and (min-width: 601px) {
        .rest-content__box .card-content .card-content {
          text-align: left; } }
  .rest-content__box h3 {
    margin-top: 0; }

.results {
  background-color: rgba(224, 224, 224, 0.37);
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  .results .title-row {
    display: flex;
    align-items: center; }
  .results ul.tabs {
    background-color: transparent; }
    .results ul.tabs a {
      font-weight: bold;
      color: #011627;
      font-size: 12px; }
      .results ul.tabs a:hover {
        color: #0D47A1; }
      .results ul.tabs a.active {
        color: #FF1744; }
    .results ul.tabs .indicator {
      background-color: #00E676; }

.page-footer {
  background-color: #2196F3;
  color: #011627;
  text-align: center;
  font-size: 13px; }
  @media only screen and (min-width: 601px) {
    .page-footer {
      text-align: left; } }
  .page-footer a {
    color: #fff;
    line-height: 30px; }
  .page-footer h5 {
    text-transform: uppercase; }
    .page-footer h5 a {
      color: #011627; }
  .page-footer h6 {
    font-size: 17px; }
  .page-footer .footer-copyright {
    color: #0D47A1;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    min-height: 30px;
    height: 30px; }
    .page-footer .footer-copyright ul {
      margin: 0;
      margin-bottom: 6px; }
      .page-footer .footer-copyright ul li {
        list-style-type: none;
        display: inline;
        padding: 0 12px; }

.testimonial-videos {
  background-color: rgba(224, 224, 224, 0.37); }

.testimonials-section {
  text-align: center; }
  .testimonials-section .peoples {
    height: 150px; }
    .testimonials-section .peoples .carousel-item {
      height: 150px;
      width: 150px; }
      .testimonials-section .peoples .carousel-item img {
        padding: 0 24px; }
  .testimonials-section .testimonial {
    height: 140px;
    box-shadow: p;
      box-shadow-margin: 0 auto;
      box-shadow-height: 150px;
      box-shadow-max-width: 540px;
      box-shadow-text-align: center;
      box-shadow-font-size: 20px;
      box-shadow-padding: 12px; }
    .testimonials-section .testimonial .info {
      height: 50px; }
      .testimonials-section .testimonial .info .name {
        font-weight: bold;
        display: block; }
      .testimonials-section .testimonial .info .designation {
        line-height: 25px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #999; }

.rest-content {
  background-color: #2196F3; }
  .rest-content .title-row h3 {
    color: #fff; }
  .rest-content .title-row .finish-line {
    background-color: #fff; }
  .rest-content .card {
    min-height: 460px; }
    .rest-content .card.news-card .carousel-slider {
      height: 380px !important;
      text-align: center; }
      .rest-content .card.news-card .carousel-slider .indicator-item {
        margin: 0 4px; }
      .rest-content .card.news-card .carousel-slider span.date {
        color: #616161; }
  .rest-content .news-col {
    height: 400px; }
    .rest-content .news-col .carousel {
      height: 400px; }
  .rest-content ul.events li {
    box-shadow: 0px 0px 4px 1px #d9d9d9;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
    .rest-content ul.events li span.date {
      width: 60px;
      flex: 0 0 60px;
      font-size: 12px;
      background-color: #2196F3;
      color: #fff;
      text-align: center; }
      .rest-content ul.events li span.date span {
        display: block; }
    .rest-content ul.events li span.desc {
      flex: 1;
      padding-left: 12px; }
  .rest-content ul.updates li {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px 1px #d9d9d9;
    margin-bottom: 15px; }
    .rest-content ul.updates li img {
      width: 80px;
      height: auto; }
    .rest-content ul.updates li .desc {
      flex: 1;
      padding-left: 12px; }
      .rest-content ul.updates li .desc h6 {
        font-weight: bold; }

.past-acheivers {
  background-color: #fff; }

.peoples-testimonials {
  background-color: rgba(224, 224, 224, 0.37); }
  .peoples-testimonials .peoples.carousel {
    height: 150px; }
    .peoples-testimonials .peoples.carousel .carousel-item {
      height: 150px;
      width: 150px; }
      .peoples-testimonials .peoples.carousel .carousel-item img {
        padding: 0 24px; }
  .peoples-testimonials .testimonial {
    height: 200px;
    text-align: center; }
    .peoples-testimonials .testimonial p {
      margin: 0 auto;
      height: 150px;
      width: 100%;
      max-width: 600px;
      font-size: 18px;
      padding: 12px;
      overflow: auto; }
    .peoples-testimonials .testimonial .info {
      height: 50px;
      color: #011627; }
      .peoples-testimonials .testimonial .info .name {
        font-weight: bold;
        display: block; }
      .peoples-testimonials .testimonial .info .designation {
        text-transform: uppercase;
        font-size: 12px;
        color: #616161; }

.results-item {
  padding: 0 12px;
  position: relative;
  border-left: 1px solid #ccc;
  background-color: #fafafa;
  margin-bottom: 50px; }
  .results-item:before {
    background-color: #0D47A1;
    width: 3px;
    height: 36px;
    z-index: 3;
    content: "";
    position: absolute;
    top: 6px;
    left: 0; }
  .results-item h5 {
    font-weight: bold;
    color: #333; }
  .results-item ul li {
    padding: 6px 0; }
    .results-item ul li:last-child {
      padding-bottom: 0; }
    .results-item ul li a {
      font-weight: bold;
      color: #333; }
      .results-item ul li a.active {
        color: #2196F3; }
