.our-results {
    background-color: #fff;
    .title-row {
        display: flex;
        align-items: center;
    }
    .carousel.carousel-slider {
        height: 350px!important;
    }
    .achiever__box {
        box-shadow: none;
        text-align: center;
        .card-image img {
            width: 150px;
            margin: 0 auto;
            max-height: 200px;
        }
        span {
            display: block;
            color: #616161;
            &.name {
                color: rgba(0, 0, 0, .87);
                font-weight: bold;
            }
        }
    }
}