.page-footer {
    background-color: $primary;
    color: $font-color;
    text-align: center;
    font-size: 13px;
    @media only screen and (min-width: 601px) {
        text-align:left;
    }
    a {
        color: #fff;
        line-height: 30px;
        display: inline-block;
    }
    h5 {
        // font-weight: bold;
        text-transform: uppercase;
        a {
            color: $font-color;
        }
    }
    h6 {
        font-size: 17px; // font-weight: bold;
    }
    ul {
        margin: 0;
    }
    ul.inline-ul {        
        li {
            display: inline;
            padding: 0 6px;
            &:first-child {
                padding-left: 0;
            }
        }
    }
    .footer-copyright {
        color: $primary-dark;
        background-color: #fff;
        text-align: center;
        font-weight: bold;
        min-height: 30px;
        height: 30px;
        ul {
            margin: 0;
            margin-bottom: 6px;
            li {
                list-style-type: none;
                display: inline;
                padding: 0 12px;
            }
        }
    }
}