.sub-nav {
    color: #fff;
    background-color: $primary;
    border-bottom: 1px solid $accent-green;
    font-size: 12px;
    text-align: center;
    .row {
        margin-bottom: 0;
        .col {
            height: 30px;
            line-height: 30px;
            &:first-child {
                padding-left: 6%;
                @media screen and (min-width: 601px) {
                    text-align: left;
                }
            }
            &:nth-child(2) {
                padding-right: 6%;
                @media screen and (min-width: 601px) {
                    text-align: right;
                }
            }
            a {
                color: #fff; // font-size: 14px;
                &:hover {
                    color: $secondary;
                }
                span {
                    position: relative;
                    padding-left: 18px;
                    &:first-child {
                        margin-right: 18px;
                    }
                    i {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 16px;
                    }
                }
            }
            .social-links {
                display: inline;
                a {
                    padding: 0 4px;
                    float: right;
                    margin-top: 4px;
                }
                svg {
                    fill: #fff;
                    &:hover {
                        fill: $secondary;
                    }
                }
            }
            .online-test-btn {
                margin-left: 18px;
                height: 24px;
                line-height: 24px;
                padding: 0px 9px;
                float: right;
                margin-top: 3px;
                font-size: 12px;
                i {
                    float: left;
                    margin-right: 3px;
                }
            }
        }
    }
}