.dark-primary-color { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color { background: #BBDEFB; }
.text-primary-color { color: #FFFFFF; }
.accent-color { background: #FF5252; }
.primary-text-color { color: #212121; }
.secondary-text-color { color: #757575; }
.divider-color { border-color: #BDBDBD; }


.dropdown-content {
    color: #212121;
    overflow: visible!important;
    overflow-x: hidden;
    border-top: 3px solid green;
}

#navbar_d__courses-dropdown h5 {
    margin-left: 16px;
    font-weight: bold;
}

#navbar_d__downloads-dropdown {
    margin-top: -65px;
    margin-left: 150px;
}

.slides li .bg {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.our-acheivers .tab-container {
    position: relative;
}

.our-acheivers ul.tabs {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin-top: 1.46rem;
}

@media screen and (min-width: 601px) {
    main section {
        text-align: left;
    }
}