::-moz-selection {
  /* Code for Firefox */
  color: #0D47A1;
  background: #E3E36A; }

::selection {
  color: #0D47A1;
  background: #E3E36A; }

html,
body {
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden !important;
  font-size: 14px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  background: url("../assets/geometry2.png");
  background-attachment: fixed; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif; }

.btn {
  background: #ff1744;
  color: #fff; }

.btn-2 {
  background: #2196F3; }

.btn:hover {
  background: #ff1744;
  color: #E3E36A; }

a {
  color: #011627; }

a:hover {
  color: #0D47A1; }

main > section {
  border-top: 1px solid #e0e0e0;
  padding-top: 18px;
  padding-bottom: 18px; }
  @media screen and (min-width: 601px) {
    main > section {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media screen and (min-width: 993px) {
    main > section {
      padding-top: 42px;
      padding-bottom: 42px; } }
  main > section .title-row {
    text-align: center; }
    main > section .title-row .title {
      font-weight: bold; }
    main > section .title-row .sub-title {
      color: #999; }
    main > section .title-row .end-line {
      width: 35px;
      height: 3px;
      background-color: #2196F3;
      margin: 0 auto; }
  main > section .content-row {
    text-align: center;
    margin-bottom: 0; }
    @media screen and (min-width: 601px) {
      main > section .content-row {
        text-align: left; } }

span.edusquare {
  color: #2196F3; }

span.strong {
  font-weight: bold; }

.slider .slides li .caption {
  padding-top: 75px; }

.edusquare-card .card-content {
  padding: 0;
  background-color: #f5f5f5; }
  .edusquare-card .card-content .card-title {
    background-color: #fff; }
    .edusquare-card .card-content .card-title .title {
      height: 50px;
      line-height: 50px;
      color: #fff;
      border-radius: 2px 2px 0 0;
      font-weight: bold; }
      .edusquare-card .card-content .card-title .title.red-b {
        background-color: #e74424; }
      .edusquare-card .card-content .card-title .title.blue-b {
        background-color: #1c52a6; }
      .edusquare-card .card-content .card-title .title.green-b {
        background-color: #71c285; }
    .edusquare-card .card-content .card-title .image {
      display: block;
      margin: 24px auto 12px; }
    .edusquare-card .card-content .card-title .sub-info .tabs {
      height: 36px; }
      .edusquare-card .card-content .card-title .sub-info .tabs li.tab {
        height: 36px;
        line-height: 36px; }
        .edusquare-card .card-content .card-title .sub-info .tabs li.tab a {
          padding: 0 12px;
          color: #011627; }
          .edusquare-card .card-content .card-title .sub-info .tabs li.tab a:hover {
            color: #0D47A1; }
          .edusquare-card .card-content .card-title .sub-info .tabs li.tab a.active {
            color: #FF1744; }
      .edusquare-card .card-content .card-title .sub-info .tabs .indicator {
        background-color: #00E676; }
  .edusquare-card .card-content .edusquare-card-content {
    padding: 6px 18px;
    text-align: center; }
    @media screen and (min-width: 601px) {
      .edusquare-card .card-content .edusquare-card-content {
        text-align: left; } }
    .edusquare-card .card-content .edusquare-card-content h6 {
      line-height: 24px;
      text-align: center;
      color: #0D47A1; }
      .edusquare-card .card-content .edusquare-card-content h6 span {
        display: block;
        font-family: "Lato", sans-serif; }
    .edusquare-card .card-content .edusquare-card-content ul {
      padding-left: 20px; }
      .edusquare-card .card-content .edusquare-card-content ul li {
        list-style-type: circle; }
    .edusquare-card .card-content .edusquare-card-content .bottom-line {
      text-align: center; }
      .edusquare-card .card-content .edusquare-card-content .bottom-line a {
        display: block;
        margin-top: 12px;
        font-weight: bold;
        color: #0D47A1; }

.sub-nav {
  color: #fff;
  background-color: #0D47A1;
  border-bottom: 1px solid #00E676;
  font-size: 12px;
  text-align: center; }
  .sub-nav .row {
    margin-bottom: 0; }
    .sub-nav .row .col {
      height: 30px;
      line-height: 30px; }
      .sub-nav .row .col:first-child {
        padding-left: 6%; }
        @media screen and (min-width: 601px) {
          .sub-nav .row .col:first-child {
            text-align: left; } }
      .sub-nav .row .col:nth-child(2) {
        padding-right: 6%; }
        @media screen and (min-width: 601px) {
          .sub-nav .row .col:nth-child(2) {
            text-align: right; } }
      .sub-nav .row .col a {
        color: #fff; }
        .sub-nav .row .col a:hover {
          color: #FFF176; }
        .sub-nav .row .col a span {
          position: relative;
          padding-left: 18px; }
          .sub-nav .row .col a span:first-child {
            margin-right: 18px; }
          .sub-nav .row .col a span i {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 16px; }
      .sub-nav .row .col .social-links {
        display: inline; }
        .sub-nav .row .col .social-links a {
          padding: 0 4px;
          float: right;
          margin-top: 4px; }
        .sub-nav .row .col .social-links svg {
          fill: #fff; }
          .sub-nav .row .col .social-links svg:hover {
            fill: #FFF176; }
      .sub-nav .row .col .online-test-btn {
        margin-left: 18px;
        height: 24px;
        line-height: 24px;
        padding: 0px 9px;
        float: right;
        margin-top: 3px;
        font-size: 12px; }
        .sub-nav .row .col .online-test-btn i {
          float: left;
          margin-right: 3px; }

.main-nav {
  width: 100%;
  z-index: 10;
  background-color: transparent;
  box-shadow: none;
  height: 90px;
  line-height: 90px; }
  @media screen and (min-width: 601px) {
    .main-nav {
      position: absolute;
      top: 31px;
      left: 0; } }
  .main-nav .brand-logo {
    height: 100%; }
    @media only screen and (min-width: 601px) {
      .main-nav .brand-logo {
        padding-left: 6%; } }
    .main-nav .brand-logo img {
      height: 100%;
      width: auto;
      max-width: 240px;
      padding: 12px 0; }
  @media only screen and (min-width: 601px) {
    .main-nav ul.desktop-menu {
      padding-right: 6%; } }
  .main-nav ul.desktop-menu > li {
    padding: 0 15px; }
    .main-nav ul.desktop-menu > li > a:not(.btn) {
      padding: 0; }
    .main-nav ul.desktop-menu > li > a.btn {
      margin: 0;
      padding: 0 12px; }
  .main-nav ul.desktop-menu a {
    color: #fff; }
    .main-nav ul.desktop-menu a i {
      margin-left: 0;
      margin-right: 0;
      line-height: 90px; }
    .main-nav ul.desktop-menu a:hover {
      background-color: transparent;
      color: #FFF176; }
      .main-nav ul.desktop-menu a:hover i {
        color: #FFF176; }
    .main-nav ul.desktop-menu a.btn {
      background-color: #0D47A1;
      color: #fff; }
      .main-nav ul.desktop-menu a.btn i {
        line-height: 36px;
        font-size: 18px;
        margin-right: 6px;
        color: #fff; }
      .main-nav ul.desktop-menu a.btn:hover {
        background-color: #0D47A1;
        color: #FFF176; }
        .main-nav ul.desktop-menu a.btn:hover i {
          color: #FFF176; }
  .main-nav .dropdown-content {
    color: #011627;
    overflow: visible !important;
    overflow-x: hidden;
    border-top: 2px solid #00E676; }
    .main-nav .dropdown-content li > a {
      font-size: 14px;
      color: #011627; }
      .main-nav .dropdown-content li > a:hover {
        color: #FF1744; }

.about p:first-child {
  margin-top: 0; }

.about blockquote {
  background: #eeeeee;
  border-color: #0D47A1;
  padding: 6px;
  padding-left: 1rem;
  font-style: italic;
  text-align: left;
  font-size: 0.9em; }

.courses-type {
  text-align: center;
  background-color: whitesmoke;
  color: #000; }
  .courses-type .card .card-content .card-title {
    text-align: center; }
    .courses-type .card .card-content .card-title h4 {
      margin: 0; }
  @media only screen and (min-width: 601px) {
    .courses-type {
      text-align: left; } }

.quick-about-2 {
  background-color: #2196F3;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .quick-about-2 .q-b-2__box {
    border: 1px dashed #011627;
    padding: 15px;
    position: relative;
    padding-top: 18px;
    cursor: pointer; }
    .quick-about-2 .q-b-2__box h5 {
      font-weight: bold; }
    .quick-about-2 .q-b-2__box i {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 3rem; }
    .quick-about-2 .q-b-2__box a {
      color: #011627; }
      .quick-about-2 .q-b-2__box a:hover {
        color: #FFF176; }
      .quick-about-2 .q-b-2__box a.btn {
        background: #00E676;
        font-size: 12px;
        padding: 0 9px;
        margin-top: 12px;
        text-transform: none; }
        .quick-about-2 .q-b-2__box a.btn:hover {
          background: #FFF176;
          color: #011627; }
    .quick-about-2 .q-b-2__box:hover i {
      color: #FFF176; }

.our-acheivers .tab-container ul.tabs {
  text-align: right; }
  .our-acheivers .tab-container ul.tabs a {
    color: #011627; }
    .our-acheivers .tab-container ul.tabs a.active {
      color: #FF1744; }
  .our-acheivers .tab-container ul.tabs .indicator {
    background-color: #00E676; }

.our-acheivers .carousel.carousel-slider {
  height: 330px !important; }

.our-acheivers .achiever__box {
  box-shadow: none;
  text-align: center; }
  .our-acheivers .achiever__box span {
    display: block; }
    .our-acheivers .achiever__box span.name {
      font-weight: bold; }

.our-acheivers ul.indicators .indicator-item {
  background-color: #2196F3; }
  .our-acheivers ul.indicators .indicator-item.active {
    background-color: #FF1744; }

.news__box img {
  max-width: 100%;
  height: auto; }

.rest-content {
  background-color: #2196F3; }

.rest-content__box {
  height: 400px; }
  .rest-content__box h3 {
    margin-top: 0; }
  .rest-content__box ul.events li {
    box-shadow: 0px 0px 4px 1px #d9d9d9;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
    .rest-content__box ul.events li span.date {
      width: 60px;
      flex: 0 0 60px;
      font-size: 12px;
      background-color: #2196F3;
      color: #fff;
      text-align: center; }
      .rest-content__box ul.events li span.date span {
        display: block; }
    .rest-content__box ul.events li span.desc {
      flex: 1;
      padding-left: 12px; }
  .rest-content__box ul.updates li {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px 1px #d9d9d9;
    margin-bottom: 15px; }
    .rest-content__box ul.updates li img {
      width: 80px;
      height: auto; }
    .rest-content__box ul.updates li .desc {
      flex: 1;
      padding-left: 12px; }
      .rest-content__box ul.updates li .desc h6 {
        font-weight: bold; }
  .rest-content__box .news-carousel {
    height: 390px !important; }
    .rest-content__box .news-carousel .indicators {
      display: none; }
    .rest-content__box .news-carousel .card {
      box-shadow: none; }
    .rest-content__box .news-carousel .carousel-item {
      height: auto;
      min-height: auto !important; }
    .rest-content__box .news-carousel .card-title {
      height: 200px;
      overflow: hidden; }
    .rest-content__box .news-carousel .card-content {
      padding: 0; }
    .rest-content__box .news-carousel span {
      display: block; }
    .rest-content__box .news-carousel span.date {
      font-size: 12px;
      color: #0D47A1;
      font-weight: bold; }

.page-footer {
  background-color: #2196F3;
  color: #011638;
  text-align: center;
  font-size: 13px; }
  @media only screen and (min-width: 601px) {
    .page-footer {
      text-align: left; } }
  .page-footer a {
    color: #fff; }
  .page-footer h5 {
    font-weight: bold;
    text-transform: uppercase; }
    .page-footer h5 a {
      color: #011638; }
  .page-footer h6 {
    font-size: 17px;
    font-weight: bold; }
  .page-footer .footer-copyright {
    color: #0D47A1;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    min-height: 30px;
    height: 30px; }
    .page-footer .footer-copyright ul {
      margin: 0;
      margin-bottom: 6px; }
      .page-footer .footer-copyright ul li {
        list-style-type: none;
        display: inline;
        padding: 0 12px; }

.testimonials-section {
  text-align: center; }
  .testimonials-section .peoples {
    height: 150px; }
    .testimonials-section .peoples .carousel-item {
      height: 150px;
      width: 150px; }
      .testimonials-section .peoples .carousel-item img {
        padding: 0 24px; }
  .testimonials-section .testimonial {
    height: 200px; }
    .testimonials-section .testimonial p {
      margin: 0 auto;
      height: 150px;
      max-width: 540px; }
    .testimonials-section .testimonial .info {
      height: 50px; }
      .testimonials-section .testimonial .info .name {
        font-weight: bold;
        display: block; }
      .testimonials-section .testimonial .info .designation {
        line-height: 25px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #999; }
