::-moz-selection {
  /* Code for Firefox */
  color: #0D47A1;
  background: #E3E36A; }

::selection {
  color: #0D47A1;
  background: #E3E36A; }

html,
body {
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden !important;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  background: url("../assets/geometry2.png");
  background-attachment: fixed; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif; }

.btn {
  background: #ff1744;
  color: #fff; }

.btn:hover {
  background: #ff1744;
  color: #E3E36A; }

.sub-nav {
  color: #fff;
  background-color: #0D47A1;
  border-bottom: 1px solid #00E676;
  font-size: 12px;
  text-align: center; }
  .sub-nav .row {
    margin-bottom: 0; }
    .sub-nav .row .col {
      height: 30px;
      line-height: 30px; }
      .sub-nav .row .col:first-child {
        padding-left: 6%; }
        @media screen and (min-width: 601px) {
          .sub-nav .row .col:first-child {
            text-align: left; } }
      .sub-nav .row .col:nth-child(2) {
        padding-right: 6%; }
        @media screen and (min-width: 601px) {
          .sub-nav .row .col:nth-child(2) {
            text-align: right; } }
      .sub-nav .row .col a {
        color: #fff; }
        .sub-nav .row .col a:hover {
          color: #FFF176; }
        .sub-nav .row .col a span {
          position: relative;
          padding-left: 18px; }
          .sub-nav .row .col a span:first-child {
            margin-right: 18px; }
          .sub-nav .row .col a span i {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 16px; }
      .sub-nav .row .col .social-links {
        display: inline; }
        .sub-nav .row .col .social-links a {
          padding: 0 4px;
          float: right;
          margin-top: 4px; }
        .sub-nav .row .col .social-links svg {
          fill: #fff; }
          .sub-nav .row .col .social-links svg:hover {
            fill: #FFF176; }
      .sub-nav .row .col .online-test-btn {
        margin-left: 18px;
        height: 24px;
        line-height: 24px;
        padding: 0px 9px;
        float: right;
        margin-top: 3px;
        font-size: 12px; }
        .sub-nav .row .col .online-test-btn i {
          float: left;
          margin-right: 3px; }

.main-nav {
  background-color: #fff;
  height: 90px;
  line-height: 90px; }
  .main-nav .brand-logo {
    height: 100%; }
    @media only screen and (min-width: 601px) {
      .main-nav .brand-logo {
        padding-left: 6%; } }
    .main-nav .brand-logo img {
      height: 100%;
      width: auto;
      max-width: 240px;
      padding: 12px 0; }
  @media only screen and (min-width: 601px) {
    .main-nav ul.desktop-menu {
      padding-right: 6%; } }
  .main-nav ul.desktop-menu a {
    color: #011627; }
    .main-nav ul.desktop-menu a i {
      margin-left: 0;
      margin-right: 0;
      line-height: 90px; }
    .main-nav ul.desktop-menu a:hover {
      background-color: #f5f5f5;
      color: #FF1744; }
      .main-nav ul.desktop-menu a:hover i {
        color: #FF1744; }
    .main-nav ul.desktop-menu a.btn {
      background-color: #0D47A1;
      color: #fff; }
      .main-nav ul.desktop-menu a.btn i {
        line-height: 36px;
        font-size: 18px;
        margin-right: 6px;
        color: #fff; }
      .main-nav ul.desktop-menu a.btn:hover {
        background-color: #0D47A1;
        color: #FFF176; }
        .main-nav ul.desktop-menu a.btn:hover i {
          color: #FFF176; }

.dropdown-content {
  color: #011627;
  overflow: visible !important;
  overflow-x: hidden;
  border-top: 2px solid #00E676; }
  .dropdown-content li > a {
    font-size: 14px; }

main > section {
  padding-top: 18px;
  padding-bottom: 18px; }

main section .row.margin-b0 {
  margin-bottom: 0; }

main section h3 {
  font-size: 27px;
  font-weight: 700; }

span.strong {
  font-weight: bold; }

.quick-about {
  background-color: #0D47A1;
  color: #fff;
  border-bottom: 2px solid #00e676; }
  .quick-about .q-b__box {
    text-align: center;
    cursor: pointer;
    margin-bottom: 12px; }
    .quick-about .q-b__box h5 {
      font-weight: bold; }
    .quick-about .q-b__box i {
      font-size: 3rem; }
  @media screen and (min-width: 601px) {
    .quick-about .col {
      border-right: 1px solid #bdbdbd; }
      .quick-about .col:last-child {
        border: none; }
      .quick-about .col .q-b__box {
        text-align: left;
        position: relative;
        padding-left: 70px;
        margin-bottom: 0; }
        .quick-about .col .q-b__box i {
          position: absolute;
          top: 0px;
          left: 0;
          font-size: 4rem; }
        .quick-about .col .q-b__box:hover {
          color: #E3E36A; } }

.about {
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .about h3 span {
    color: #2196F3; }
  .about h4 {
    font-size: 21px; }
  .about h5 {
    font-size: 18px;
    font-weight: bold; }
  .about h3 + h5 {
    margin-bottom: 18px;
    font-weight: 400; }
  .about blockquote {
    background: #ededed;
    border-color: #2196F3;
    padding: 6px;
    padding-left: 1.5rem;
    font-style: italic;
    text-align: left;
    margin-top: 24px; }
  .about .about-feature__box {
    position: relative;
    margin-bottom: 12px; }
    .about .about-feature__box:first-child {
      margin-top: 1.46rem; }
    .about .about-feature__box img {
      width: 60px;
      margin: 0 auto; }
    @media only screen and (min-width: 601px) {
      .about .about-feature__box {
        padding-left: 72px; }
        .about .about-feature__box img {
          position: absolute;
          top: 0;
          left: 0; } }
  @media only screen and (min-width: 601px) {
    .about {
      text-align: left; } }

.courses-type {
  text-align: center;
  background-color: #0D47A1;
  color: #fff; }
  .courses-type .card {
    background-color: #fff;
    color: #000; }
    .courses-type .card .card-content .card-title {
      text-align: center;
      border-bottom: 1px solid #bdbdbd; }
      .courses-type .card .card-content .card-title h4 {
        margin: 0; }
      .courses-type .card .card-content .card-title svg {
        display: block;
        margin: 15px auto; }
      .courses-type .card .card-content .card-title span {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 12px; }
    .courses-type .card .card-content ul li {
      text-align: center;
      margin: 12px auto; }
      .courses-type .card .card-content ul li a {
        color: #011638; }
        .courses-type .card .card-content ul li a:hover {
          color: #2196F3; }
  @media only screen and (min-width: 601px) {
    .courses-type {
      text-align: left; } }

.quick-about-2 {
  background-color: #2196F3;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .quick-about-2 .q-b-2__box {
    border: 1px dashed #0D47A1;
    padding: 15px;
    position: relative;
    padding-top: 18px;
    cursor: pointer; }
    .quick-about-2 .q-b-2__box i {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 3rem; }
    .quick-about-2 .q-b-2__box a {
      color: #fff; }
    .quick-about-2 .q-b-2__box:hover i {
      color: #E3E36A; }
  @media only screen and (min-width: 601px) {
    .quick-about-2 {
      text-align: left; } }

.our-acheivers .tab-container ul.tabs {
  text-align: right; }
  .our-acheivers .tab-container ul.tabs a {
    color: #2196F3; }
    .our-acheivers .tab-container ul.tabs a.active {
      color: #ff1744; }
  .our-acheivers .tab-container ul.tabs .indicator {
    background-color: #00e676; }

.our-acheivers .carousel.carousel-slider {
  height: 330px !important; }

.our-acheivers .achiever__box {
  box-shadow: none;
  text-align: center; }
  .our-acheivers .achiever__box span {
    display: block; }
    .our-acheivers .achiever__box span.name {
      font-weight: bold; }

.our-acheivers ul.indicators .indicator-item {
  background-color: #2196F3; }
  .our-acheivers ul.indicators .indicator-item.active {
    background-color: #011638; }

.news__box img {
  max-width: 100%;
  height: auto; }

.rest-content {
  background-color: #0D47A1; }

.rest-content__box {
  height: 400px; }
  .rest-content__box h3 {
    margin-top: 0; }
  .rest-content__box ul.events li {
    box-shadow: 0px 0px 4px 1px #d9d9d9;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
    .rest-content__box ul.events li span.date {
      width: 60px;
      flex: 0 0 60px;
      font-size: 12px;
      background-color: #2196F3;
      color: #fff;
      text-align: center; }
      .rest-content__box ul.events li span.date span {
        display: block; }
    .rest-content__box ul.events li span.desc {
      flex: 1;
      padding-left: 12px; }
  .rest-content__box ul.updates li {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px 1px #d9d9d9;
    margin-bottom: 15px; }
    .rest-content__box ul.updates li img {
      width: 80px;
      height: auto; }
    .rest-content__box ul.updates li .desc {
      flex: 1;
      padding-left: 12px; }
      .rest-content__box ul.updates li .desc h6 {
        font-weight: bold; }
  .rest-content__box .news-carousel {
    height: 390px !important; }
    .rest-content__box .news-carousel .indicators {
      display: none; }
    .rest-content__box .news-carousel .card {
      box-shadow: none; }
    .rest-content__box .news-carousel .carousel-item {
      height: auto;
      min-height: auto !important; }
    .rest-content__box .news-carousel .card-title {
      height: 200px;
      overflow: hidden; }
    .rest-content__box .news-carousel .card-content {
      padding: 0; }
    .rest-content__box .news-carousel span {
      display: block; }
    .rest-content__box .news-carousel span.date {
      font-size: 12px;
      color: #0D47A1;
      font-weight: bold; }

.page-footer {
  background-color: #2196F3;
  color: #011638;
  text-align: center;
  font-size: 13px; }
  @media only screen and (min-width: 601px) {
    .page-footer {
      text-align: left; } }
  .page-footer a {
    color: #fff; }
  .page-footer h5 {
    font-weight: bold;
    text-transform: uppercase; }
    .page-footer h5 a {
      color: #011638; }
  .page-footer h6 {
    font-size: 17px;
    font-weight: bold; }
  .page-footer .footer-copyright {
    color: #0D47A1;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    min-height: 30px;
    height: 30px; }
    .page-footer .footer-copyright ul {
      margin: 0;
      margin-bottom: 6px; }
      .page-footer .footer-copyright ul li {
        list-style-type: none;
        display: inline;
        padding: 0 12px; }
